body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
#top-part{
    position: relative;

}
#top-part img{
    width: 100%;
    height: auto;
    filter: blur(1px);
}
#text-container{
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.089);
}
#text-container h1{
    font-size: 80px;
}
#text-container p{
    color: gainsboro;
    font-size: 20px;
    font-weight: 600;
}
.submit-button{
    text-decoration: none;
    padding: 20px 25px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: large;
    font-weight: 600;
}
/* ------------------------------------------ */
.text-container-2{
    text-align: center;
    background-color: rgba(255, 239, 213, 0.432);
    padding: 8% ;
    
}
h2{
    font-size: 50px;
}
p{
    color: grey;
    font-size: 20px;
    font-weight: 600;
}
#amount-row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding: 2%;
}
#amount-row div{
    background-color: rgba(128, 128, 128, 0.13);
    color: tomato;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
}
#amount-row div:hover{
    border: 5px solid tomato; 
}
#other-amount{
    font-size: 25px;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
}
/* ---------------------------------- */

.text-container-3{
    text-align: center;
}

.donate-plan{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding: 2%;
}
.donate-plan div{
    background-color: rgba(128, 128, 128, 0.068);
    color: tomato;
    margin: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding: 3% 3% 3%;
    border-radius: 10px;
}
#plan-1{
    background-color: rgba(135, 207, 235, 0.507);
}
#plan-2{
    background-color:rgba(216, 112, 147, 0.486);
}
#plan-3{
    background-color:bisque;
}
/* ---------------------------------- */
.half-width{
    width: 500px;
    float: left;
    margin-left: 5%;
    padding-left: 8%;
    font-size: 30px;
}
/* ------------------------ */

.input-section{
    background-color:rgb(255, 228, 196, 0.445);
    padding: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    align-items: center;
}
.flex-container {
    display: flex;
    
  }
  
  .flex-container > div {
    color: white;
    width: 33.3%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
.flex-container > div img{
    width: 100%;
}   
/* ------------------------------------------ */
footer{
    background-color: black;
    height: 150px;
    text-align: center;
    font-family:serif;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5%;
}

